.login {
    background: #f6f6f6;
    margin: 0px;
    padding: 100px 0px;
}

.login1 h1 {
    text-align: center;
    margin-bottom: 70px;
}

.login1 {
    width: 70%;
    margin: auto;
    text-align: left
}

.login1 form {
    width: 50%;
    padding: 10px;
    margin: auto;
}

.login1 label {
    display: block;
    color: darkgrey;
    font-size: 14px;
}

.login1 form input[type="text"] {
    margin: 12px 0px;
    display: block;
    width: 70%;
    padding: 15px 18px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 16px;
}

.login1 form input[type="password"] {
    margin: 12px 0px;
    display: block;
    width: 70%;
    padding: 15px 18px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 16px;
}

.btn3 {
    display: block;
    width: 80%;
    border-radius: 3px;
    border: none;
    background-color: #4687ff;
    padding: 10px 15px;
    margin-top: 24px;
    border: 1px #4687ff solid;
    text-align: center;
}

.btn3:hover {
    border: 1px solid #4687ff;
    color: #4687ff;
}

.login2 {
    text-align: left;
    font-size: 16px;
    width: 50%;
    margin: auto;
    margin-top: 20px;
}