.box-1{
    padding: 80px 15%;
    text-align: center;
}
.box-1 h1{
    font-size: 40px;
}
.box-1 h3{
    font-size: 25px;
    font-weight: lighter;
}
.box-1 img{
    display: block;
    margin: 50px auto;
}
.box-1 h2{
    font-size: 30px;
}
.box-1 p{
    text-align: left;
}